* {
  margin: 0;
  padding: 0;
}

.contact__input {
  width: 380px;
  height: 52px;
  font-size: 16px;
  padding-left: 24px;
  font-family: "Montserrat", sans-serif;
  background-color: #F6F6F6;
  border: none;
  color: grey;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
}

.button-primary {
  background: #21bf73;
}

.button-primary:hover {
  background: #1b9c5e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-primary:active {
  background: #16824e;
}

.button-secondary {
  border: 2px solid #3498db;
  background: transparent;
  color: #3498db;
}

.button-secondary:hover {
  background: #2383c4;
  border: 2px solid #2383c4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #FFF;
}

.button-secondary:active {
  border: 2px solid #16527a;
  background: #16527a;
}

.navbar {
  max-width: 100%;
  height: 80px;
  background: #FFF;
}

.navbar__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #333347;
}

.navbar__logo:hover {
  cursor: pointer;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.navbar__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #383B61;
}

.navbar__item:hover {
  color: #3498db;
  cursor: pointer;
}

.navbar__item:last-child {
  margin-right: initial;
}

.navbar__logo {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  max-width: 100%;
  background: #f0f5f9;
  height: 88vh;
  background-size: cover;
  background-position: center;
}

.hero__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__info, .hero__image {
  width: 46%;
  height: inherit;
  font-family: "Montserrat", sans-serif;
}

.hero__image {
  width: 54%;
  background-image: url("../images/head.png");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.hero__launch {
  margin-top: 150px;
}

.hero__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero__btn > .button-secondary {
  margin-right: 16px;
}

.hero__description {
  margin-top: 10px;
  font-size: 14px;
  color: #383B61;
}

.bring {
  max-width: 100%;
  height: auto;
}

.bring__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  padding-top: 90px;
  padding-bottom: 90px;
}

.bring__title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 38px;
}

.bring__subtitle {
  font-family: "Montserrat", sans-serif;
  color: #383B61;
}

.bring__jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin-top: 60px;
}

.bring__jobs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  background: #f0f5f9;
}

.bring__jobs-item:hover {
  cursor: pointer;
}

.bring__jobs-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 48px;
  margin-left: 8px;
}

.bring__jobs-number {
  font-size: 18px;
  margin-bottom: 16px;
}

.bring__jobs-name {
  font-weight: 500;
  font-size: 14px;
  color: #383B61;
}

.services {
  max-width: 100%;
  height: auto;
  background: none;
}

.services__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #f0f5f9;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
}

.services__contnr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
}

.services__contnr-item:last-child {
  margin-bottom: initial;
}

.services__image {
  width: auto;
  height: 250px;
  border: none;
  margin-right: 24px;
}

.services__info {
  width: 50%;
}

.services__title {
  margin-bottom: 24px;
}

.services__descrip {
  margin-bottom: 24px;
  color: #383B61;
}

.services__list {
  margin-left: 16px;
}

.services__list-item {
  margin-bottom: 10px;
}

.results {
  max-width: 100%;
  height: auto;
}

.results__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  padding-top: 150px;
  padding-bottom: 150px;
}

.results__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 90px;
  font-size: 38px;
}

.results__jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}

.results__jobs-item {
  width: 16%;
  height: auto;
}

.results__jobs-img {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results__jobs-number {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.results__jobs-name {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  color: #383B61;
}

.plans {
  max-width: 100%;
  height: auto;
  background: #FFF;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.plans__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  height: inherit;
}

.plans__title {
  text-align: center;
}

.plans__description {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 66px;
  color: #383B61;
}

.plans__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.plans__card-item {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: #f0f5f9;
}

.plans__card-title {
  font-size: 24px;
}

.plans__card-limited {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.plans__card-image {
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.plans__card-price {
  font-size: 32px;
}

.plans__card-duration {
  font-size: 12px;
  margin-bottom: 20px;
}

.plans__card-item .btn {
  margin-left: auto;
  margin-right: auto;
  width: 36%;
}

.plans__terms {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

.contact {
  max-width: 100%;
}

.contact__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  padding-top: 120px;
  padding-bottom: 60px;
}

.contact__title {
  text-align: center;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
}

.contact__subtitle {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: grey;
}

.contact__form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px 24px;
}

.contact__form button {
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}

.footer {
  max-width: 100%;
  height: 80px;
  background: #f6f6f6;
}

.footer__container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__logo {
  width: 15%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #21bf73;
}

.footer__logo:hover {
  cursor: pointer;
}

.footer__nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
}

.footer__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-weight: 500;
}

.footer__item:hover {
  color: #3498db;
  cursor: pointer;
}

.footer__social {
  width: 15%;
  height: auto;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.footer__social-icon:hover {
  cursor: pointer;
}

/*



Detalles en margenes int/ext

Navbar estatico

Grid Layout

Responsive Desing

Importar url de images 



*/
/*# sourceMappingURL=styles.css.map */